@import "variables";
@import "mixins";

.table {
  width: 100%;

  .col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 32px;
  }

  .col1 {
    width: 15px;
    margin: 0 15px;
  }
  .col2 {
    min-width: 150px;
    width: 225px;
    max-width: 300px;
  }
  .col3 {
    min-width: 100px;
    width: 150px;
    max-width: 200px;
  }
  .col4 {
    min-width: 100px;
    width: 150px;
    max-width: 200px;
  }
  .col5 {
    min-width: 50px;
    width: 75px;
    max-width: 100px;
  }
  .col6, .col7 {
    min-width: 80px;
    width: 120px;
    max-width: 150px;
  }

  .table__header {
    @include display-flex(space-between, center, row);
    background-color: $colorBackground;
    height: 40px;
    border-top: 1px solid $grayBorder;
    border-bottom: 1px solid $grayBorder;
    margin-top: -1px;
    p {
      font-weight: 600;
      font-size: 14px;
    }
  }
  .table__body {
    height: calc(100vh - 84px - 120px);
    overflow: scroll;
    .row {
      width: 100%;
      @include display-flex(space-between, center, row);
      border-bottom: 1px solid $grayBorder;
      height: 38px;
      p {
        font-size: 13px;
      }
    }
  }
}
