@import 'variables';
@import 'mixins';

* {
    margin: 0;
    box-sizing: border-box;
}

// Fonts
h1, h2, h3, h4, h5, p, a, label, button {
    font-family: $fontPrimary;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

// Inputs and buttons
button:hover, button:active, button:focus, a:hover, a:focus, input:focus, input:active {
    cursor: pointer;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    outline: none;
}

// Primary page content

.content {
    background-color: $colorBackground;
    padding: 0 80px 0 80px;
}

.content__sub {
    @include display-flex(flex-start, flex-start, row);
    height: calc(100vh - 44px - 40px); // Height of screen minus 2 navs
    flex-wrap: wrap;
    padding-top: 32px;
}

@media (max-width: 750px) {
    .content__sub {
        @include display-flex(center, flex-start, row);
    }

}

.content__full {
    height: calc(100vh - 44px); // Height of screen minus 1 nav
}