// Fonts
$fontPrimary: 'Lato', 'Open sans';
$fontSecondary: 'Merriweather', 'Open sans';

// Font Weights:
$weightBlack: 900;
$weightHeavy: 800;
$weightMedium: 600;
$weightLight: 400;

// Font colors
$colorFontDark: #343849;
$colorFontMedium: #858892;

// Primary Colors
$colorPrimaryDark: #343849;
$colorPrimaryLight: #97A7B8;

// Accent colors
$colorAccent: #3B60E4;
$colorAccentHover: #2142B8;
$colorSuccess: #09BC8A;
$colorFailure: #E7415C;
$colorWarning: #FFD453;
$colorBackground: #F7F8F9;
$colorArrow: #C4C6CD;

// Gray Colors
$grayDark: #444444;
$grayMedium: #6C6C6C;
$grayBorder: #E2E2E2;
